DATABASE_URL="postgresql://dz:dev@localhost:5434/dz_core"
TRACKING_DATABASE_URL="postgresql://dz:dev@localhost:5435/dz_tracking"

JWT_ACCESS_SECRET="change_me"
JWT_REFRESH_SECRET="change_me"
JWT_ACCESS_EXPIRES_IN="15m"
JWT_REFRESH_EXPIRES_IN="30d"

PORT=3000
NODE_ENV=development
